* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
header .container {
  margin: 0 auto;
  background-color: white;
  width: 1200px;
  height: 100px;
  display: flex;
  flex-direction: column;
}
header .container .mobile {
  display: none;
}
header .container h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  /* or 20px */
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  /* Primary/Black */
  color: #000000;
}
header .container .site {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
}
header .container .site .main {
  display: flex;
  align-items: center;
  gap: 33px;
}
header .container .site .main a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */
  letter-spacing: 0.175em;
  text-transform: uppercase;
  /* AF/Black */
  color: #000000;
}
header .container .site .logo {
  display: flex;
  align-items: center;
  gap: 33px;
}

@media (max-width: 400px) {
  header .container {
    width: 375px;
  }
  header .container .site {
    padding: 0 30px;
  }
  header .container .site .desctop {
    display: none;
  }
  header .container .site .mobile {
    display: block;
  }
}
main .container {
  margin: 0 auto;
  width: 1200px;
  background-color: black;
}
main .container .section-1 {
  padding: 0 100px;
  display: flex;
  align-items: center;
}
main .container .section-1 .main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .container .section-1 .main h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  /* AF/White */
  color: #ffffff;
}
main .container .section-1 .main p {
  margin-top: 120px;
  width: 500px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  /* or 23px */
  /* AF/White */
  color: #ffffff;
}
main .container .section-1 .main h2 {
  margin-top: 80px;
  width: 400px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  /* or 23px */
  /* AF/White */
  color: #ffffff;
}
main .container .section-1 img {
  width: 550px;
}
main .container .section-2 {
  padding: 0 100px;
  display: flex;
  align-items: center;
}
main .container .section-2 img {
  width: 500px;
  margin-top: 80px;
}
main .container .section-2 .main {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .container .section-2 .main h2 {
  margin-top: 170px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 167.5%;
  /* identical to box height, or 27px */
  /* AF/White */
  color: #ffffff;
}
main .container .section-2 .main ul {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
main .container .section-2 .main ul li {
  width: 425px;
  font-family: "Arca Majora 3";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 167.5%;
  /* or 27px */
  /* AF/White */
  color: #ffffff;
}
main .container .section-3 {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .section-3 h2 {
  margin-top: 250px;
  width: 400px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 143%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #ffffff;
}
main .container .section-3 img {
  width: 500px;
  margin-top: 160px;
}
main .container .section-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 80px;
}
main .container .section-4 h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000000;
}
main .container .section-4 .boxes {
  margin-top: 42px;
  display: flex;
  align-items: center;
  width: 1100px;
  justify-content: space-between;
  gap: 10px;
}
main .container .section-4 .boxes .box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .container .section-4 .boxes .box img {
  width: 200px;
}
main .container .section-4 .boxes .box h3 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  /* or 20px */
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
}
main .container .section-4 .boxes .box .img {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
main .container .section-4 .boxes .box h4 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  /* or 20px */
  letter-spacing: 0.16em;
  text-transform: uppercase;
  /* AF/Dark grey */
  color: #353535;
}

@media (max-width: 400px) {
  main .container {
    width: 375px;
  }
  main .container .section-1 {
    flex-direction: column;
    padding: 0 16px;
  }
  main .container .section-1 .main h1 {
    font-size: 18px;
  }
  main .container .section-1 .main p {
    width: 343px;
  }
  main .container .section-1 .main h2 {
    width: 343px;
  }
  main .container .section-1 img {
    width: 375px;
  }
  main .container .section-2 {
    flex-direction: column;
    padding: 0 16px;
  }
  main .container .section-2 img {
    margin-top: 0px;
    width: 343px;
  }
  main .container .section-2 .main {
    padding: 0;
  }
  main .container .section-2 .main h2 {
    margin-top: 20px;
    width: 343px;
  }
  main .container .section-2 .main ul li {
    width: 343px;
  }
  main .container .section-3 {
    flex-direction: column;
    padding: 0 16px;
  }
  main .container .section-3 h2 {
    width: 343px;
    margin-top: 70px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.08em;
  }
  main .container .section-3 img {
    margin-top: 24px;
    width: 343px;
  }
  main .container .section-4 {
    padding: 40px 16px;
  }
  main .container .section-4 h2 {
    font-size: 14px;
  }
  main .container .section-4 .boxes {
    width: 343px;
  }
  main .container .section-4 .boxes .box {
    width: 167px;
  }
  main .container .section-4 .boxes .box img {
    width: 167px;
  }
  main .container .section-4 .boxes .desctop {
    display: none;
  }
}
footer .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 80px 125px;
  background-color: rgb(241, 241, 241);
}
footer .container .box-1 {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
footer .container .box-1 h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  /* AF/Black */
  color: #000000;
}
footer .container .box-1 input {
  background-color: rgb(241, 241, 241);
  width: 420px;
  border: none;
  outline: none;
  padding: 16px 0;
  border-bottom: 1px solid #c4c4c4;
}
footer .container .box-1 ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
footer .container .box {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .container .box h2 {
  margin-bottom: 32px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  /* AF/Dark grey */
  color: #353535;
}
footer .container .box ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
footer .container .box ul a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 167.5%;
  /* or 23px */
  color: #7e7e7e;
}

@media (max-width: 375px) {
  footer .container {
    width: 375px;
    flex-direction: column;
    padding: 40px 16px;
    gap: 25px;
  }
  footer .container h2 {
    margin-bottom: 16px;
  }
  footer .container .box-1 {
    gap: 20px;
  }
  footer .container .box-1 h2 {
    margin-bottom: 0;
  }
  footer .container .box-1 input {
    width: 343px;
  }
  footer .container .box {
    width: 343px;
    gap: 0px;
  }
}/*# sourceMappingURL=main.css.map */